body {
  text-align: center;
}

div{
  margin: 10px;
}

button {

  border: 1px solid rgb(219, 219, 219);
  background: #FFF;
  padding: 5px;
}

#hidden {
  display: none;
}

#removeThis {
  margin: 10px;
  padding: 10px;
  background-color: beige;
}